/* Write your code here: */
h1, h2 {
    color: blueviolet;
}
.box > p {
    color: firebrick;
}

.box li {
    color: blue;
}
/* li je u stranici grandchild od div class: box, ako su neki li ispod toga oni se nece promijeniti jer je ovako jako specificno (samo taj div)*/
li.done {
    color: seagreen;
}
ul p.done {
    font-size: 0.5rem;
}
/* imas 2 p u kodu, ali ovaj se nalazi pod ul, a prvi pod div i onda se ovako zapisuje*/
